<ion-header>
  
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-bar slot="bottom">
      <!-- Add your tabs here -->
    </ion-tab-bar>
  
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
  
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
    <!-- <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>MENU</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>SEARCH</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>ORDERS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>WALLET</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
